@import 'tailwindcss';

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar: {
    display: none;
  }
}

@layer base {
  html {
    text-rendering: optimizeLegibility;
    font-size: 100%;
    @apply antialiased;
  }
}
