@import 'tailwindcss';

@utility scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility container {
  @apply mx-auto max-w-[96rem] px-4;
}

@layer base {
  html {
    text-rendering: optimizeLegibility;
    font-size: 100%;
    @apply antialiased;
  }

  body {
    @apply bg-[#f2f2f2];
  }
}
